/* reset style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto Condensed", sans-serif; }

html {
  background: #f7f7f7;
  color: #81817f; }

#inner-wrap {
  width: 100%;
  min-height: 500px;
}

#inner-top {
  float: right;
  width: 50%;
  height: 80px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
   }

#banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 20px; }
  #banner img {
    display: block;
    width: 100%;
    margin: auto;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2); }

aside {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 0.9em;
  margin-right: 20px;
  line-height: 1.6em;
  padding-bottom: 20px; }
  aside a {
    padding: 4px 10px;
    text-decoration: none; }
  aside a:link {
    color: #81817f; }
  aside a:visited {
    color: #a1a09e; }
  aside a:hover {
    color: #66ccff; }
  aside a:active {
    color: #81817f; }

  aside h3 {
    padding-bottom: 8px;
  }

footer {
  width: 70%;
  height: 40px;
  margin: auto; }

.fa-icons {
  list-style-type: none;
  text-align: center; }
  .fa-icons li {
    display: inline; }
  .fa-icons i {
    font-size: 160%;
    padding: 5%;
    color: #81817f; }
  .fa-icons .fa-facebook-official:hover {
    color: #66ccff; }
  .fa-icons .fa-instagram:hover {
    color: #66ccff; }
  .fa-icons .fa-twitter:hover {
    color: #66ccff; }
  .fa-icons .fa-tumblr:hover {
    color: #66ccff; }
